<%- include("./partials/header") -%>
<main>
  <section id="cards">
    <article class="carCard" key="<%= car.id %> ">
      <div class="flex-row">
        <img src="<%= car.img %> " alt="<%= car.name %> photo" />
        <div>
          <p>Description</p>
          <p><%= car.description %></p>
        </div>
      </div>
      <div class="flex-row">
        <p>Model</p>
        <p><%= car.name %></p>
      </div>
      <div class="flex-row">
        <p>Horse Power</p>
        <p><%= car.hp %> HP</p>
      </div>
      <div class="flex-row">
        <p>Velocity</p>
        <p><%= car.maxVel %> Km/h</p>
      </div>

      <div class="flex-row">
        <p>0-100</p>
        <p><%= car.toOneHundred %> s</p>
      </div>
      <div class="flex-row">
        <p>Capacity</p>
        <p><%= car.capacity %></p>
      </div>
      <div class="flex-row">
        <p>Cylinders</p>
        <p><%= car.cylinder %></p>
      </div>
    </article>
  </section>
</main>
<%- include("./partials/footer") -%>
