<%- include("./partials/header") -%>
<main>
  <section id="cards">
    <% cars.forEach( car=>{ %>
    <article class="carCard" key="<%= car.id %> ">
      <a href="/details/<%= car.id %> ">
        <img src="<%= car.img %> " alt="<%= car.name %> photo" />
      </a>
      <div class="flex-row">
        <p>Model</p>
        <p><%= car.name %></p>
      </div>
      <div class="flex-row">
        <p>Horse Power</p>
        <p><%= car.hp %> HP</p>
      </div>
      <div class="flex-row">
        <p>Top speed</p>
        <p><%= car.maxVel %> Km/h</p>
      </div>
    </article>
    <% }); %>
  </section>
</main>
<%- include("./partials/footer") -%>
